@import url('main.css');

.search {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-input {
    width: 1580px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 0 10px 15px;
}

.search-btn {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    color: black;
    cursor: pointer;
    transition: .4s ease;
}

.search-btn:hover {
    background: black;
    color: white;
}

.aside {
    height: 100%;
    width: 340px;
    float: left;
    padding: 80px 0 0 105px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.aside-title {
    padding-bottom: 5px;
}
.aside__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.vacancy {
    display: flex;
    justify-content: center;
}
.vacancy-info {
    padding-top: 80px;
    max-width: 1680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.vacancy-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}
.vacancy__block {
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 1470px;
}
.vacancy-title {
    font-size: var(--mediumText);
    color: #0066FF;
}
.vacancy-price {
    font-size: var(--smallText);
    font-weight: 500;
}
.vacancy-exp {
    padding-top: 10px;
}
.controls-btn {
    font-size: var(--smallText);
}
.vacancy-controls {
    padding-bottom: 5px;
}
